<h2 mat-dialog-title>{{this.data?.taskId ? 'Edit task' : 'Add task'}}</h2>

<mat-dialog-content>
  <form [formGroup]="taskForm" class="form">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Project</mat-label>
        <mat-select formControlName="project" name="form.project" required>
          <mat-option *ngFor="let item of projects" [value]="item.key">
            {{item.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="taskForm.controls.project.invalid">{{getErrorMessage(taskForm.controls.project)}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" maxlength="40" required>
        <mat-error *ngIf="taskForm.controls.title.invalid">{{getErrorMessage(taskForm.controls.title)}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" maxlength="200" required
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
        <mat-error *ngIf="taskForm.controls.description.invalid">{{getErrorMessage(taskForm.controls.description)}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Assignee</mat-label>
        <mat-select formControlName="assignee" name="form.assignee">
          <mat-option *ngFor="let item of translators" [value]="item.key">
            {{item.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Deadline</mat-label>
        <input matInput formControlName="deadline" [matDatepicker]="picker" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="taskForm.controls.deadline.invalid">{{getErrorMessage(taskForm.controls.deadline)}}</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button mat-raised-button [disabled]="!taskForm.valid" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>
